#news{
    background-image: url('/img/robo.jpg'), linear-gradient(60deg, #101010, #101010);
    background-attachment: fixed;
    background-size: cover;
    font-size: 25px;
    letter-spacing: 3px;
    line-height: 45px;
}
.black-2{
    padding: 90px;
    background-color: rgba(10, 10, 10, 0.4)
}
#news h1{
    font-size: 90px;
    line-height: 80px;
    font-family: 'bebas',sans-serif;
    text-align: center;
}
#news a{
    display: block;
    margin: 40px;
    padding: 20px;
    border: 4px solid #eee;
    transition: 150ms;
    border-radius: 10px;
}
#news a:hover{
    padding: 22px;
    border: 4px solid #040404;
    background-color: #eee;
    color: #101010;
    box-shadow: 10px 10px 0 #eee;
}
#news a::first-line{
    font-weight: 900;
    font-size: 32px;
}
