@font-face{
    font-family: comfortaa;
    src: url("/fonts/comfortaa.ttf");
}
@font-face{
    font-family: april;
    src: url("/fonts/april.ttf");
}
@font-face{
    font-family: bebas;
    src: url("/fonts/bebas.ttf");
}
body{
    background-color: #101010;
    color: #eee; 
    font-family: 'comfortaa',sans-serif;
}
.parts{
    height: 100vh;
}
#one h1{
    font-size: 50px;
}