
#water-ai{
    font-size: 25px;
    letter-spacing: 3px;
    line-height: 45px;
    background-image: url('/img/hill.png');
    background-attachment: fixed;
    height: 150vh;
}
#water-ai h1{
    font-size: 90px;
    line-height: 80px;
    font-family: 'bebas',sans-serif;
    margin: 70px;
}
#water-ai p{
    margin: 70px;
}