
#water-ai{
    font-size: 25px;
    letter-spacing: 3px;
    line-height: 45px;
    background-image: url('img/hill.png');
    background-attachment: fixed;
    height: 150vh;
}
#water-ai h1{
    font-size: 100px;
    line-height: 90px;
    font-family: 'bebas',sans-serif;
    margin: 70px;
    color:#308090;
    -webkit-text-stroke: 0.6px #101010;
}
#water-ai h1::first-line{
    color:#eee;
    -webkit-text-stroke: 1px #eee;
}
#water-ai p{
    margin: 70px;
}